<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="styles/styles.css">
    <title>Agroforestry Landscape</title>
</head>
<body> 
    <%- include("partials/header.ejs") %>
<div class="tempLands p-5">
   <h1>Agroforestry Landscape</h1>
   <img src="/images/AgroforestyLandscape.jpg" class="img-fluid" alt="Agroforestry Landscape" style="height: 300px; width: 600px;">
   <p>
     Agroforestry (also known as agro-sylviculture or forest farming)
        is a land use management system that integrates trees with crops or pasture. It combines agricultural and forestry technologies.
        As a polyculture system, an agroforestry system can produce timber and wood products, fruits, nuts, other edible plant products, 
        edible mushrooms, medicinal plants, ornamental plants, animals and animal products, and other products from both domesticated and wild species.
        Agroforestry can be practiced for economic, environmental, and social benefits, and can be part of sustainable agriculture.
        Apart from production, benefits from agroforestry include improved farm productivity, healthier environments, reduction of risk for farmers,
        beauty and aesthetics, increased farm profits, reduced soil erosion, creating wildlife habitat, less pollution, managing animal waste, increased biodiversity,
        improved soil structure, and carbon sequestration.
        Agroforestry practices are especially prevalent in the tropics, especially in subsistence smallholdings areas, with particular importance in sub-Saharan Africa.
         Due to its multiple benefits, for instance in nutrient cycle benefits and potential for mitigating droughts, it has been adopted in the US and Europe.</p>
    <a href="/" class="btn btn-secondary">Back to Home</a>
</div>
 <%- include("partials/footer.ejs") %>
</body>
</html>
