<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="styles/styles.css">
    <title>Beaches and Shorelines</title>
</head>
<body>
        <%- include("partials/header.ejs") %>
<div class="tempLands p-5">
    <h1>Beaches and Shorelines Landscape</h1>
    <img src="/images/BeachesAndShorelinesLandscape.jpg" class="img-fluid" alt="Beaches and Shorelines Landscape" style="height: 400px; width: 800px;">
    <p>The beach, also known as the shoreline or strand, is the line of intersection between a standing body of water 
        (an ocean, gulf, lagoon, bay, estuary, or lake) and the surrounding land. The beach may consist of rock fragments (pebbles), 
        sand, or mud (a mixture of sand and clay). The pebbles, sand, and mud may be derived from local bedrock, sediment, or soil,
        or the beach may be made of local bedrock, which is usually referred to as a rocky shoreline. In some instances, 
        the sand and mud at the shoreline may be organically derived from biologic components in the nearby ocean (for example, broken up shells or coral fragments). 
        There are various parts to a typical beach, including the berm, beach face, and shallow offshore bars. 
        The location of a beach changes with the changing level of the adjacent ocean or lake, or can change with changing land level as well.</p>
    <a href="/" class="btn btn-secondary">Back to Home</a>
</div>
            <%- include("partials/footer.ejs") %>
</body>
</html>