<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="styles/styles.css">
    <title>Deserts</title>
</head>
<body>
<%- include("partials/header.ejs") %>
 <div class="tempLands p-5">
    <h1>Desert Landscape</h1>
    <img src="/images/DesertLandscape.jpg" class="img-fluid" alt="Desert Landscape" style="height: 400px; width: 800px;">
    <p>A desert is a landscape where little precipitation occurs and, consequently,
        living conditions create unique biomes and ecosystems. The lack of vegetation exposes the unprotected surface of the ground to denudation.
        About one-third of the land surface of the Earth is arid or semi-arid. This includes much of the polar regions, where little precipitation occurs,
        and which are sometimes called polar deserts or "cold deserts". Deserts can be classified by the amount of precipitation that falls,
        by the temperature that prevails, by the causes of desertification or by their geographical location.<br>
        Deserts are formed by weathering processes as large variations in temperature between day and night strain the rocks. 
        Rain falling on hot rocks can cause them to shatter, and the resulting fragments and rubble strewn over the desert floor are further eroded by the wind.
        This picks up particles of sand and dust, which can remain airborne for extended periods – sometimes causing the formation of sand storms or dust storms.
        Wind-blown sand grains striking any solid object in their path can abrade the surface. Rocks are smoothed down, and the wind sorts sand into uniform deposits. 
        The grains end up as level sheets of sand or are piled high in billowing dunes. Other deserts are flat,
        stony plains where all the fine material has been blown away and the surface consists of a mosaic of smooth stones, 
        often forming desert pavements, and little further erosion occurs. Other desert features include rock outcrops, 
        exposed bedrock and clays once deposited by flowing water. Temporary lakes may form and salt pans may be left when waters evaporate.
        There may be underground water sources in the form of springs and seepages from aquifers. Where these are found, oases can occur.</p>
    <a href="/" class="btn btn-secondary">Back to Home</a>
</div>
<%- include("partials/footer.ejs") %>
</div>
</body>
</html>