<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
     <link rel="stylesheet" href="styles/styles.css">
    <title>Forest</title>
</head>
<body>
<%- include("partials/header.ejs") %>
<div class="tempLands p-5">
    <h1>Forest Landscape</h1>
    <img src="/images/ForestLandscape.jpg" class="img-fluid" alt="Forest Landscape" style="height: 400px; width: 800px;">
    <p>A forest landscape refers to a large area of land, larger than a single forest stand, that includes forests, naturally treeless ecosystems,
         and other land uses, all within the zone of current forest extent. 
         These landscapes are often considered complex social-ecological systems because they are influenced by natural processes, human activities,
          and the interactions between different land uses and communities. Key aspects of forest landscapes include their ecological importance, 
        such as carbon storage and biodiversity, and their role in providing human benefits like food and livelihoods. </p>
    <a href="/" class="btn btn-secondary">Back to Home</a>
</div>
<%- include("partials/footer.ejs") %>

</body>
</html>