<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
     <link rel="stylesheet" href="styles/styles.css">
    <title>Livestock Farms</title>
</head>
<body>
        <%- include("partials/header.ejs") %>
<div class="tempLands p-5">
    <h1>Livestock Farms Landscape</h1>
    <img src="/images/LivestockFarmsandscape.jpg" class="img-fluid" alt="Livestock Farms Landscape" style="height: 400px; width: 800px;">
    <p>A livestock farm landscape typically features pastures for grazing, fields for feed crops, and facilities like barns and pens, 
        often integrated into rural environments with rolling hills or mountains. However, this landscape is dynamic; poorly managed farms can contribute to land degradation, 
        deforestation, and biodiversity loss, while well-managed regenerative systems can improve soil health and even become carbon sinks. 
        The landscape also adapts to different farming systems, 
        from intensive urban settings to extensive rural areas, with each having distinct impacts on resource use and nutrient cycles. </p>
    <a href="/" class="btn btn-secondary">Back to Home</a>
</div>
<%- include("partials/footer.ejs") %>
</body>
</html>