<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="styles/styles.css">
    <title>Mountains and Hills</title>
</head>
<body>
<%- include("partials/header.ejs") %>
<div class="tempLands p-5">
    <h1>Mountains and Hills Landscape</h1>
    <img src="/images/MountainsAndHillsLandscape.jpg" class="img-fluid" alt="Mountains and Hills Landscape" style="height: 400px; width: 800px;">
    <p>A mountains and hills landscape is a terrestrial environment characterized by varying elevations, where mountains are significantly taller landforms with steep,
         rugged slopes and a distinct peak, and hills are smaller, gentler elevations with rounded tops. 
         These landforms are created by geological processes like tectonic plate movement,
         volcanic activity, and erosion, forming diverse terrains that can include forests, fields, and valleys. </p>
    <a href="/" class="btn btn-secondary">Back to Home</a>
</div>
<%- include("partials/footer.ejs") %>
</body>
</html>