<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
     <link rel="stylesheet" href="styles/styles.css">
    <title>Natural</title>
</head>
<body>
        <%- include("partials/header.ejs") %>
<div class="tempLands p-5">
    <h1>Natural Landscape</h1>
    <img src="/images/NaturalLandscape.jpg" class="img-fluid" alt="Natural Landscape" style="height: 400px; width: 800px;">
    <p>A natural landscape is the original landscape that exists before it is acted upon by human culture.
        The natural landscape and the cultural landscape are separate parts of the landscape. However, in the 21st century,
        landscapes that are totally untouched by human activity no longer exist, so that reference is sometimes now made to degrees of naturalness within a landscape. <br>
        In Silent Spring (1962) Rachel Carson describes a roadside verge as it used to look:
        "Along the roads, laurel, viburnum and alder, great ferns and wildflowers delighted the traveler’s eye through much of the year"
        and then how it looks now following the use of herbicides: "The roadsides, once so attractive, 
        were now lined with browned and withered vegetation as though swept by fire". Even though the landscape before it is sprayed is biologically degraded,
        and may well contains alien species, the concept of what might constitute a natural landscape can still be deduced from the context. <br>
        The phrase "natural landscape" was first used in connection with landscape painting, and landscape gardening, 
        to contrast a formal style with a more natural one, closer to nature. Alexander von Humboldt (1769 – 1859) 
        was to further conceptualize this into the idea of a natural landscape separate from the cultural landscape. 
        Then in 1908 geographer Otto Schlüter developed the terms original landscape (Urlandschaft) and its opposite cultural landscape 
        (Kulturlandschaft) in an attempt to give the science of geography a subject matter that was different from the other sciences.
        An early use of the actual phrase "natural landscape"
        by a geographer can be found in Carl O. Sauer's paper "The Morphology of Landscape" (1925).</p>
    <a href="/" class="btn btn-secondary">Back to Home</a>
 
</div>
   <%- include("partials/footer.ejs") %>
</body>
</html>