<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="styles/styles.css">
    <title>Public Parks</title>
</head>
<body>
        <%- include("partials/header.ejs") %>
<div class="tempLands p-5">
    <h1>Public Park Landscape</h1>
    <img src="/images/PublicParkLandscape.jpg" class="img-fluid" alt="Public Park Landscape" style="height: 400px; width: 800px;">
    <p>A public park's landscape is an intentionally designed outdoor space for community recreation, relaxation, and social interaction,
        balancing natural elements with recreational facilities like playgrounds, paths, and green areas to serve diverse users and needs.
        These landscapes promote physical activity, mental well-being, and environmental health by providing ecological benefits and fostering a connection 
        to nature within an urban setting. Key considerations for their design include accessibility for all ages and abilities, safety, 
        sustainability through low-maintenance and resilient planting, efficient drainage, and the creation of distinct, welcoming zones for varied activities. </p>
    <a href="/" class="btn btn-secondary">Back to Home</a>
</div>
<%- include("partials/footer.ejs") %>
</body>
</html>