<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="styles/styles.css">
    <title>Rivers and Waterfalls</title>
</head>
<body>
<%- include("partials/header.ejs") %> 
<div class="tempLands p-5">
    <h1>Rivers and Waterfalls Landscape</h1>
    <img src="/images/RiversAndWaterfallsLandscape.jpg" class="img-fluid" alt="Rivers and Waterfalls Landscape" style="height: 400px; width: 800px;">
    <p>Rivers and waterfalls are prominent features of landscapes that can be classified by their geographic characteristics,
        ecological benefits, and geological processes. Rivers are natural flowing bodies of water, while waterfalls occur where a river or stream flows over a vertical drop,
         often forming in areas where a river flows from hard rock onto softer rock. They create unique microclimates, 
        support diverse flora and fauna, and are shaped by erosion and geological structures like fault lines and hanging valleys. </p>
    <a href="/" class="btn btn-secondary">Back to Home</a>
</div>
<%- include("partials/footer.ejs") %>
</div>
</body>
</html>